
<section class="  nosotros" id="nosotros">
    <!--<img src="assets/Circuito.png" alt="circuito" class="nosotros__circuito nosotros__circuito--left">-->

    <div class="nosotros__circuito">
        <img src="assets/circuito-hz.png" alt="circuito" class="">
    </div>


    <div id="nosotros__background"></div>

    <div class="nosotros__container--row">
        <div class="nosotros__container">
            <div class="nosotros__content">
                <h2 class="nosotros__title">
                    Nosotros
                </h2>
            </div>
            <div class="nosotros__content">
                <p class="nosotros__text " id="nosotrostext">
                    Intelenergy es un integrador oficial de Sistemas de ABB que tiene
                    dentro de su portafolio Productos y Soluciones en Baja y Media Tensión 
                    aplicables al Segmento de Generación Eléctrica.
                   
                </p> 
            </div>
        </div>    
        <div class="nosotros__container nosotros__container--gap0">
            <div class="nosotros__image">
                <img src="assets/Nosotros.png" alt="nosotros" class="nosotros__img--w50">
            </div>
            <div class="nosotros__image">
                <img src="assets/logo.png" alt="nosotros" class="nosotros__img">
            </div>
        </div>
    </div>

    <div class="nosotros__circuito nosotros__circuito--start">
        <img src="assets/circuito-hz.png" alt="circuito" class="">
    </div>
    

    <!--<img src="assets/Circuito.png" alt="circuito" class="nosotros__circuito nosotros__circuito--right">-->
    
</section>