
<section class="servicios" id="servicios">
<div id="servicios__background"></div>  
    <div class="servicios__container">
        <div class="servicios__content">
            <h2 class="servicios__title">
                Servicios
            </h2>
        </div>
        <div class="servicios__content">
            <ul class="servicios__list">
                <li><i class="fa-solid fa-check"></i> Pruebas a Equipos Eléctronicos.</li>
                <li><i class="fa-solid fa-check"></i> Pruebas a Subestaciones.</li>
                <li><i class="fa-solid fa-check"></i> Pruebas a Esquemas de Protecciones.</li>
                <li><i class="fa-solid fa-check"></i> Estudios Eléctronicos.</li>
                <li><i class="fa-solid fa-check"></i> Desarrollo de Ingenieria.</li>
                <li><i class="fa-solid fa-check"></i> Soluciones Integrales de Sistemas de Generación.</li>
                <li><i class="fa-solid fa-check"></i> Cursos a clientes.</li>
                <li><i class="fa-solid fa-check"></i> Puesta en Servicio y Comisionamiento de Equipos.</li>
                <li><i class="fa-solid fa-check"></i> Mantenimientos Preventivos a Tableros de Distribución Electrica.</li>
            </ul>
        </div>
    </div>

    <div class="servicios__container"  >
        <img src="assets/Servicios.png" alt="servicios"  data-aos="fade-left" >
    </div>
    
    <!--<div class="servicios__image">
        <img src="assets/Servicios.png" alt="" class="servicios__img" data-aos="fade-left">
    </div>-->
</section>