
<section class="soluciones" id="soluciones">

    <div class="soluciones__banner">
        <div class="soluciones__content">
            <img src="assets/logo-blanco.png" alt="intelenergy" class="soluciones__image" data-aos="zoom-in">
        </div>
    </div>
  
    <div class="capacitacion__container capacitacion__container--column capacitacion__container--padding gap0 mt3 " >
        <h2 class="capacitacion__title">SOLUCIONES</h2>
    </div>

    <div class="soluciones__container">
        <ul class="soluciones__list">
            <li><i class="fa-solid fa-check"></i> Producto en stock o tiempos de entrega menores a 8 semanas, tanto Baja como Media tensión.</li>
            <li><i class="fa-solid fa-check"></i> Desarrollo de Soluciones con Controler Cummins, Deepsea, ComAp, DEIF, ABB, GE.</li>
            <li><i class="fa-solid fa-check"></i> Monitores Locales HMI.</li>
            <li><i class="fa-solid fa-check"></i> Listas de Precios tanto en Baja como Media tensión.</li>
            <li><i class="fa-solid fa-check"></i> Soporte Reuniones Técnicas con Clientes.</li>
            <li><i class="fa-solid fa-check"></i> Soporte de IngenierÍa.</li>
            <li><i class="fa-solid fa-check"></i> Pruebas de Liberación de Equipos para Clientes Directos.</li>
            <li><i class="fa-solid fa-check"></i> Pruebas de Liberación de Equipos para Clientes FInales en Instalaciones de Nuestros Clientes.</li>
        </ul>
        <div class="soluciones__images">
            <img src="assets/PagWeb-01.png" alt="" class="soluciones__image--w100">
        </div>
    </div>

</section>