/*
*   ---------------------------------------------------------------------------------
*   @Settings (Root)
*   ---------------------------------------------------------------------------------
*   
*   Here you can put all your own values and variables that you can use in your project.
*   For variables are put inside the :root pseudo-class.
*
*/

:root{
    --azul:#0eb2f6;
    --azul-2:rgb(20, 94, 125);
    --verde: #95cf47;
    --titulo: 4em;
    --subtitulo: 3em;
    --text-2: 2em;
    --texto:1em;
}

* {
    margin: 0;
    padding: 0;
        -webkit-box-sizing: border-box;
    box-sizing: border-box;
        -webkit-padding-start: 0px;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
    overflow-x: hidden !important;
    background-image: url('../../resources/fondo.jpg');
}

body>div {
    overflow: hidden !important;
}
body>section {
    overflow: hidden !important;
}


body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url('../../assets/Fondo5.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

