/*
*   ---------------------------------------------------------------------------------
*   @Layouts (Soluciones)
*   ---------------------------------------------------------------------------------
*   
*   In this folder you create all layouts (one file per layout) that you will use for your pages 
*   like containers, boxes, sections, etc...
*
*/

.soluciones{
    display: flex;
    position: relative;
    width: 100%;
    height: max-content;
    background-image: url('../../assets/Fondo5.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
}

.soluciones__banner{
    display: flex;
    width: 100%;
    height: max-content;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.938) 0%, rgba(0, 0, 0, 0.801) 24%, rgba(0, 0, 0, 0.432)  51%, rgba(0, 0, 0, 0.801) 77%, rgba(0, 0, 0, 0.938) 100%), url('../../assets/Fondo3.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 5rem 0 5rem;
}
    @media screen and (min-width: 318px) and (max-width: 1073px) { 
        .soluciones__banner{
            flex-direction: column;
        }
    }

.soluciones__container{
    display: flex;
    width: 100%;
    background-image: url('../../assets/Fondo5.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: max-content;
    align-items: center;
}
    @media screen and (min-width: 318px) and (max-width: 1073px) { 
        .soluciones__container{
            flex-direction: column;
        }
    }

.soluciones__title{
    font-size: var(--titulo);
    color: white;
    font-family: BigNoodleTitlingOblique;
    text-align: center;

}

.soluciones__subtitle{
    font-size: var(--subtitulo);
    color: var(--azul-2);
    font-family: BigNoodleTitlingOblique;
    text-align: center;
}

.soluciones__content{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    object-fit: contain;
}
    @media screen and (min-width: 318px) and (max-width: 1073px) { 
        .soluciones__content{
            width: 100%;
        }
    }


.soluciones__list{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    font-family: GothamMedium;
    justify-content: center;
    padding: 3rem;
    padding-left: 12rem;
    padding-right: 0;
}
    @media screen and (min-width: 318px) and (max-width: 1073px) { 
        .soluciones__list{
           width: 100%;
           padding: 4rem;
           padding-bottom: 0;

        }
    }

.soluciones__list li {
    line-height: 2rem;
    color: rgb(122, 122, 122);
}

.soluciones__list li i:before {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(148, 196, 83)), to(rgb(109, 143, 62)));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial; /* reset Font Awesome's display:inline-block */
}

.soluciones__images{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    list-style: none;
    font-size: 1rem;
    color: white;
    font-family: GothamMedium;
    justify-content: center;
    padding: 3rem;
}

    @media screen and (min-width: 318px) and (max-width: 1073px) { 
        .soluciones__images{
            width: 100%;
            padding-top: 0;
        }
    }

.soluciones__text{
    font-size: var(--texto-2);
    color: white;
    line-height: 1.8rem;
    font-family: GothamMedium;
}

.soluciones__image{
    width: 70%;
}

.soluciones__image--w100{
    width: 100%;
}