
<div class="banner">
    <div class="banner__container animate__animated  animate__flipInX animate__slow">
        <div class="banner__logo" >
            <img src="assets/logo.png" alt="IntelEnergy" title="IntelEnergy" class="banner__image">
        </div>
        <!--<div class="banner__content">
            <p class="banner__text banner__text--justify">
                Intelenergy es un integrador oficial de Sistemas de ABB que tiene
                dentro de su portafolio Productos y Soluciones en Baja y Media Tensión 
                aplicables al Segmento de Generación Eléctrica.
            </p>
        </div>-->
        <div class="banner__logo banner__logo--sm">
            <img src="assets/abb.png" alt="" class="banner__image--sm">
            <p class="banner__text banner__text--italic banner__text--center">PRODUCTOS DE ELECTRIFICACIÓN</p>
        </div>
    </div>

    

</div>

<div class="banner__rombos " data-aos="fade-right" >
    <img src="assets/Rombos.png" alt="">
</div>