
<div class="productos">
  <div class="logo-slider">
    <div class="productos__card">
        <div class="productos__card-header">
            <h2 class="productos__card-title">TABLERO</h2>
            <h3  class="productos__card-subtitle">DE DISTRIBUCIÓN</h3>
            <h4  class="productos__card-subtitle">BAJA TENSIÓN DE PODER</h4>
            <p  class="productos__card-text">Resistencia mecanica a los choques en 50102.</p>
        </div>
        <div class="productos__card-body">
           <img src="assets/carrusel/Producto1.png" alt="" class="productos__card-image">
        </div>
        <div class="productos__card-footer">
            <button class="productos__card-button">MÁS INFORMACIÓN</button>
        </div>
    </div>
    <div class="productos__card">
        <div class="productos__card-header">
            <h2 class="productos__card-title">TABLERO</h2>
            <h3  class="productos__card-subtitle">DE DISTRIBUCIÓN</h3>
            <h4  class="productos__card-subtitle">BAJA TENSIÓN TMAX LINK</h4>
            <p  class="productos__card-text">Corriente asignada de corta duración admisible.</p>
        </div>
        <div class="productos__card-body">
           <img src="assets/carrusel/Producto2.png" alt="" class="productos__card-image">
        </div>
        <div class="productos__card-footer">
            <button class="productos__card-button">MÁS INFORMACIÓN</button>
        </div>
    </div>
    <div class="productos__card">
        <div class="productos__card-header">
            <h2 class="productos__card-title">TABLERO</h2>
            <h3  class="productos__card-subtitle">DE DISTRIBUCIÓN</h3>
            <h4  class="productos__card-subtitle">BAJA TENSIÓN EVOLUTION</h4>
            <p  class="productos__card-text">Tensión asignada de aislamiento.</p>
        </div>
        <div class="productos__card-body">
           <img src="assets/carrusel/Producto3.png" alt="" class="productos__card-image">
        </div>
        <div class="productos__card-footer">
            <button class="productos__card-button">MÁS INFORMACIÓN</button>
        </div>
    </div>
    <div class="productos__card">
        <div class="productos__card-header">
            <h2 class="productos__card-title">TABLERO</h2>
            <h3  class="productos__card-subtitle">DE DISTRIBUCIÓN</h3>
            <h4  class="productos__card-subtitle">MEDIA TENSIÓN SECOGEAR</h4>
            <p  class="productos__card-text">Tensión asignada de aislamiento.</p>
        </div>
        <div class="productos__card-body">
           <img src="assets/carrusel/Producto4.png" alt="" class="productos__card-image">
        </div>
        <div class="productos__card-footer">
            <button class="productos__card-button">MÁS INFORMACIÓN</button>
        </div>
    </div>
  </div>

</div>
