
<style>
    .list{
        color: var(--azul);
        display: none;
        width: 100%;
        flex-direction: column;
        overflow-y:scroll;
        overflow-x: hidden;
        height: 5rem;
        padding-right: 3rem;

    }

    .list div{
        list-style: none;
        border-bottom: 1px solid var(--azul);
        width: 100%;
        padding: 0.5rem;
        transition: 400ms;
    }

    .list div:hover{
        color: white;
        border-bottom: 1px solid white;

    }


</style>

<div class="fullscreen" id="fullscreen">
    <div class="fullscreen__header">
        <div class="fullscreen__logo">
            <img src="assets/logo-blanco.png" alt="intelenergy" >
        </div>
    </div>
    <div class="fullscreen__body">
        <div class="fullscreen__links">
            <a href="#" class="fullscreen__link">Inicio</a>
            <a href="#nosotros" class="fullscreen__link">Nosotros</a>
            <a href="#servicios" class="fullscreen__link">Servicios</a>
            <a href="#soluciones" class="fullscreen__link">Soluciones</a>
            <a href="#capacitacion" class="fullscreen__link">Capacitación</a>
            <a href="#productos" class="fullscreen__link">Productos</a>
            <a href="#contacto" class="fullscreen__link">Contacto</a>
            <div class="cursor" id="cursor"><img src="assets/cerrar.png" alt="cerrar"></div>

        </div>
    </div>
    <div class="fullscreen__footer">
        <div class="fullscreen__content fullscreen__content--center" id="fullscreen__contacto">
            <a href="mailto:info@intelenergy.com">info@intelenergy.com</a>
            <a href="#">BLVD. INDEPENDENCIA INT. #123 TORREON, COAH.</a>
        </div>
        <div class="fullscreen__content fullscreen__content--end">
            <form class="fullscreen__input "> 
                <!--<input type="search" name="buscador" id="buscador" placeholder="¿QUÉ ESTÁS BUSCANDO?">
                <input type="submit" value=">">-->
                
                <!--<ul id="listaArticulos">
                    <li class="articulo">🍇Mora</li>
                    <li class="articulo">🍊Naranja</li>
                    <li class="articulo">🍓Fresa</li>
                    <li class="articulo">🍐Pera</li>
                    <li class="articulo">🍍Piña</li>
                    <li class="articulo">🍌Plátano</li>
                    <li class="articulo">🍈Melon</li>
                    <li class="articulo">🥭Mango</li>
                </ul>-->
            </form>
            <div class="list"> 

            </div>
            <div class="fullscreen__social-media">
                <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-twitter-square"></i></a>
            </div>
        </div>
    </div>

</div>


