<div class="fullscreen" id="fullscreen">
    <div class="fullscreen__header">
        <div class="fullscreen__logo">
            <img src="assets/logo-blanco.png" alt="intelenergy">
        </div>
    </div>
    <div class="fullscreen__body">
        <div class="fullscreen__links">
            <a href="#" class="fullscreen__link">Inicio</a>
            <a href="#nosotros" class="fullscreen__link">Nosotros</a>
            <a href="#servicios" class="fullscreen__link">Servicios</a>
            <a href="#soluciones" class="fullscreen__link">Soluciones</a>
            <a href="#capacitacion" class="fullscreen__link">Capacitación</a>
            <a href="#productos" class="fullscreen__link">Productos</a>
            <a href="#contacto" class="fullscreen__link">Contacto</a>
            <div class="cursor" id="cursor"><img src="assets/cerrar.png" alt="cerrar"></div>

        </div>
    </div>
    <div class="fullscreen__footer">
        <div class="fullscreen__content fullscreen__content--center">
            <a href="mailto:info@intelenergy.com">info@intelenergy.com</a>
            <a href="#">BLVD. INDEPENDENCIA INT. #123 TORREON, COAH.</a>
        </div>
        <div class="fullscreen__content fullscreen__content--end">
            <form class="fullscreen__input "> 
                <input type="search" name="" id="" placeholder="¿QUÉ ESTÁS BUSCANDO?">
                <input type="submit" value=">">
            </form>
            <div class="fullscreen__social-media">
                <i class="fa-brands fa-facebook-square"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-twitter-square"></i>
            </div>
        </div>
    </div>


</div>